<section class="prev-next">
    <div class="row align-center align-middle text-center">
        <div class="shrink column prev medium-order-1">{{ prev }}</div>
        <div class="shrink column next medium-order-3">{{ next }}</div>
        <div class="column medium-order-2">
            <img src="{{ panel.prev_next_icon.url }}" alt="{{ panel.prev_next_icon.title }}" />
            <h3>{{ panel.prev_next_title }}</h3>
        </div>
    </div>
</section>