<section class="hero" style="background-image: url('{{ panel.hero_background.url }}')">
    <div class="row">
        <div class="small-12 medium-6 large-5 columns">
            <h1>{{ panel.hero_title }}</h1>
            <div class="content">{{ panel.hero_content }}</div>
            <div class="actions">
                <a href="{{ panel.hero_primary_link }}" class="primary button">{{ panel.hero_primary_text }} <i class="fa fa-angle-right"></i></a>
                <a href="{{ panel.hero_secondary_link }}" class="hollow button">{{ panel.hero_secondary_text }} <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>